---
import "../css/Experience.css";
import {
  HiOutlineAcademicCap,
  HiOutlineBriefcase,
  HiOutlineBookOpen,
} from "react-icons/hi2";

const card =
  "w-80 p-4 py-8 rounded-2xl relative flex-col bg-white dark:bg-gradient-to-t dark:from-black dark:to-[#171717]";
const wrIcon =
  "absolute top-3 right-3 h-12 w-12 rounded-3xl flex items-center justify-center";
const emphasis = "text-green-500 dark:text-green-200";
const txtTitle = "text-[#aeaeae] font-medium text-sm dark:text-[#6a6a6a]";
const txtDesc = "text-lg font-semibold mt-4";
const txtFooter = "text-[#aeaeae] text-sm dark:text-gray-500 mt-1";
---

<section
  class="mt-[16.3rem] grid place-items-center gap-y-[1rem] px-[1rem]"
  id="ss"
>
  <h1 class="tracking-[-1px] text-5xl text-center">
    Education <span class="textBlue"> & </span>Experience.
  </h1>
  <p class="text-center text-gray-500 leading-7">
    Where study and experience are <span class="text-black dark:text-white"
      >enhanced</span
    >. The places where the <span class="text-black dark:text-white"
      >mind
    </span> is <span class="underline">formed</span>.
  </p>
  <main
    class="h-fit w-full md:w-[90%] mt-8 grid gap-12 items-center justify-items-center grid-cols-[repeat(auto-fit,minmax(20rem,1fr))]"
  >
    <article class={card}>
      <header class="cardExperienceFancyBorderTop"></header>

      <div class={wrIcon + " bg-green-100 dark:bg-[#103529]"}>
        <HiOutlineAcademicCap
          size={26}
          className="text-green-600 dark:text-[#D9FDD3]"
        />
      </div>

      <p class={txtTitle}>University</p>
      <h3 class={txtDesc}>Tecnológico de Coacalco</h3>
      <p class={txtFooter}>
        Final score <span class={emphasis}>9.6</span> and
        <span class={emphasis}>260</span>/260 credits.
      </p>
    </article>

    <article class={card}>
      <header class="cardExperienceFancyBorderTop"></header>

      <div class={wrIcon + " bg-orange-100 dark:bg-[#34130f]"}>
        <HiOutlineBriefcase
          size={26}
          className="text-orange-400 dark:text-[#ffc8c8]"
        />
      </div>

      <p class={txtTitle}>Current job</p>
      <h3 class={txtDesc}>BAACC Systems</h3>
      <p class={txtFooter}>
        <span class={emphasis}>1</span> year and 7 months as Frontend developer.
      </p>
    </article>

    <article class={card}>
      <header class="cardExperienceFancyBorderTop"></header>

      <div class={wrIcon + " bg-indigo-100 dark:bg-[#102135]"}>
        <HiOutlineBookOpen
          size={26}
          className="text-indigo-400 dark:text-[#c8deff]"
        />
      </div>

      <p class={txtTitle}>Self-taught</p>
      <h3 class={txtDesc}>Udemy, Platzi, Egghead, ...</h3>
      <p class={txtFooter}>
        Courses and <span class={emphasis}>meaningful</span> certificates.
      </p>
    </article>
  </main>
</section>
