---
import {
  HiOutlineAcademicCap,
  HiOutlineBriefcase,
  HiOutlineBookOpen,
} from 'react-icons/hi2';

const card =
  'max-w-[22rem] min-w-[22rem] w-[22rem] p-4 py-6 rounded-3xl relative flex-col dark:bg-gradient-to-t dark:from-black dark:to-[#171717]';
const wrIcon = 'h-14 w-14 rounded-2xl flex items-center justify-center';
const emphasis = 'text-green-500 dark:text-green-200';
const txtTitle =
  'mt-2 text-[#aeaeae] font-medium text-base dark:text-[#6a6a6a]';
const txtDesc = 'text-xl font-semibold mt-4 dark:text-white';
const txtFooter = 'text-[#aeaeae] text-sm dark:text-gray-500 mt-2';
const gradientCard =
  'absolute left-1/2 top-0 w-[80%] h-[1px] select-none pointer-events-none -translate-x-1/2 translate-y-1/2 self-center bg-gradient-to-r from-transparent via-gray-200 dark:via-green-900 to-transparent';
---

<section
  id='experience'
  class='mt-[16.3rem] grid place-items-center gap-y-[1rem] px-[1rem]'
>
  <h1 class='tracking-[-1px] text-5xl text-center text-black dark:text-white'>
    Education <span class='text-blue-500 dark:text-blue-200'>
      &
    </span>Experience.
  </h1>
  <p class='text-center text-gray-400 leading-7'>
    Where study and experience are <span class='text-black dark:text-white'
      >enhanced</span
    >. The places where the mind is formed.
  </p>
  <main
    class='h-fit w-full md:w-[90%] mt-8 grid gap-12 items-center justify-items-center grid-cols-[repeat(auto-fit,minmax(20rem,1fr))]'
  >
    <article class={card}>
      <header class={gradientCard}></header>

      <div
        class={wrIcon +
          ' bg-gradient-to-b from-green-100 to-green-200 dark:from-green-950 dark:to-green-950/20'}
      >
        <HiOutlineAcademicCap
          size={32}
          className='text-green-600 dark:text-[#D9FDD3]'
        />
      </div>

      <p class={txtTitle}>University</p>
      <h3 class={txtDesc}>Tecnológico de Coacalco</h3>
      <p class={txtFooter}>
        Final score <span class={emphasis}>9.6</span> and
        <span class={emphasis}>260</span>/260 credits.
      </p>
    </article>

    <article class={card}>
      <header class={gradientCard + ' dark:via-orange-900'}></header>

      <div
        class={wrIcon +
          ' bg-gradient-to-b from-yellow-50 to-yellow-100 dark:from-orange-950 dark:to-orange-950/20'}
      >
        <HiOutlineBriefcase
          size={32}
          className='text-orange-400 dark:text-[#ffc8c8]'
        />
      </div>

      <p class={txtTitle}>Current job</p>
      <h3 class={txtDesc}>BAACC Systems</h3>
      <p class={txtFooter}>
        <span class={emphasis}>2</span> years as Software Engineer.
      </p>
    </article>

    <article class={card}>
      <header class={gradientCard + ' dark:via-sky-900'}></header>

      <div
        class={wrIcon +
          ' bg-gradient-to-b from-purple-100 to-purple-200 dark:from-purple-950 dark:to-purple-950/20'}
      >
        <HiOutlineBookOpen
          size={32}
          className='text-purple-400 dark:text-purple-100'
        />
      </div>

      <p class={txtTitle}>Self-taught</p>
      <h3 class={txtDesc}>Udemy, Platzi, Egghead, ...</h3>
      <p class={txtFooter}>
        Courses and <span class={emphasis}>meaningful</span> certificates.
      </p>
    </article>
  </main>
</section>
